<div class="row justify-content-center">
    <div class="col-11 col-lg-8">
        <form action="{{ path("search") }}" method="POST">
            <div class="input-group mb-3">
                <input type="text"
                       name="search"
                       class="form-control"
                       placeholder="Rechercher un article..."
                       aria-label="Rechercher un article"
                       aria-describedby="button-search"
                        {% if search is defined %}
                        value="{{ search }}"
                       {% endif %}
                >
                <button class="btn btn-primary" type="submit" id="button-search">Rechercher</button>
            </div>
        </form>
    </div>
</div>